.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
    transition: background-color 0.3s,color 0.3s ;
}

.direction:hover{
    background-color: lightblue;
    color: white;
}

.Mrs.Stockmann{
    color:pink;
}

.Petra{
    color:blue;
}

.Dr.Stockmann{
    color:lavender;

}