.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
    transition: background-color 0.3s,color 0.3s ;
}

.direction:hover{
    background-color: lightblue;
    color: white;
}
.S{
    color:green;
}

.P{
    color:blue;
}

.D{
    color:red;
}

.cast-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cast-table th, .cast-table td {
    border: 1px solid #3a26a9;
    padding: 8px;
    text-align: center;
}

.cast-table th {
    background-color: #7ba7e0;
}

.cast-table tbody tr:nth-child(odd) {
    background-color: #e39b9b;
}

.D:hover{
    text-shadow: 3px 3px 4px rgba(43, 2, 16, 0.5);
    border: 3px solid #cb6a98;
}

.P:hover{
    text-shadow: 3px 3px 4px rgba(18, 6, 59, 0.5);
    border: 3px solid #6a92d2;
}